
<div class="html">
  <div class="place_name">
    <form action="/location/place" action="GET">
        See special data by entering a place <br>
        <input type="text" name="place" class="place_name_input" ></input><br>
        <input type="submit" value="Show">
    </form>
  </div>
</div>