// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place_name {
  display: block;
  margin: 400px 700px auto;
  background-color:#FFF;
  min-height:30px;
  height: 100px;
  width: 241px;
}

.place_name_input{ padding-top: 10px}